<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Lawreo!</title>
</head>
<body>

<h2>Hi <%= @user.name %>! </h2>

<p>You’re the newest member of Lawreo, the leading online legal knowledge exchange.  We’re excited to have you as a member, and can’t wait to see what questions you’ll post.</p>

<p>Remember – people like you help Lawreo members find answers to their legal problems. We’re relying on you!</p>

<p>Thanks again, and welcome aboard.</p>

<p>The Lawreo Team</p>

</body>
</html>	