<!DOCTYPE html>
<html>
<head>
	<title>Your answer has received a comment!</title>
</head>
<body>

<h2>Hey <%= @answer.user.name %>! </h2>

<p> Your answer has received a comment.</p>

<p> To see the comment, <%= link_to "click here", question_url(@question) %></p>

<p>Have a great day!</p>

Warm regards<br>
Lawreo<br>

</body>
</html>	