<!DOCTYPE html>
<html>
<head>
	<title>Your question has received a comment!</title>
</head>
<body>

<h2>Hey <%= @question.user.name %>! </h2>

<p> Your question has received a comment.</p>

<p> To see the comment, <%= link_to "click here", question_url(@question) %> and view the comments by clicking the grey panel</p>

<p>Have a great day!</p>

Warm regards<br>
Lawreo<br>

</body>
</html>	