
	<div class="form-group">
	<%= form_for [@question, Questioncomment.new] do |f| %>
	 
	  <div class="form-group">
	    <%= f.label :body, "Post a comment on this question" %><br>
	    <%= f.text_area :body, class: "form-control" %>
	  </div>
	  
	  <div class="actions">
	    <%= f.submit "Post comment", class: "btn btn-primary"  %>
	  </div>
	<% end %>
	</div>
	<hr>
