
	<div class="form-group">
	<%= form_for [@question, Questioncomment.new] do |f| %>
	 
	  <div class="form-group">
	    <%= f.label :body, "Post a comment on this question" %><br>
	    <%= f.text_area :body, class: "form-control" %>
	  </div>
	  
	  <div class="actions">
	    <%= f.submit "Post comment", class: "btn btn-primary"  %>
	  </div>
	<% end %>

	<small>NOTE: the original poster or non-lawyer users will remain anonymous if commenting</small><br>
	<br>
	<small>Comments from lawyers will not be anonymous</small>
	</div>
	<hr>
