
<% @question.questioncomments.each do |questioncomments| %>
<div class="well well-sm">
    <%= questioncomments.body %><br>
    <small><i>posted at <%= questioncomments.created_at.to_formatted_s(:long)%> by <%= questioncomments.user.name %></i></small>
</div>
 <%end%>
