
<div class="form-group">
	<%= form_for [answer, Answercomment.new] do |f| %>
	  

	  <div class="form-group">
	    <%= f.label :body, "Post a comment to the answer" %><br>
	    <%= f.text_area :body, class: "form-control" %>
	  </div>
	  
	  </div>
	  <div class="actions">
	    <%= f.submit "Post comment", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
